.company-layout {
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    width: 1100px;

    .ceo {
        img {
            float: left;
            margin: 0 30px 30px 0;
            width: 500px;

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        text-align: left;
        font-size: 15px;
        color: #555;
        line-height: 24px;
    }

    .cooperative {
        position: relative;
        margin-bottom: 90px;
        font-size: 0;

        .text-img{
            top: 70px;
            right: 0;
            position: absolute;
        }
    }

    .history {
        text-align: center;
    }
}
.company-banner-content {
    padding: 10px 0;
}
.company-banner {
    margin-bottom: 70px;
    background: #eeeeee;
    text-align: center;

    ul {
        font-size: 0;

        li {
            text-align: center;
            display: inline-block;
            vertical-align: top;
            width: 280px;

            .background {
                padding: 60px 0;
                margin: 0 auto;
                width: 240px;
                background: $white;
                border-radius: 50%;
            }

            img {
                width: 120px;
            }

            .title {
                font-size: 30px;
                color: #222;
            }

            .line {
                margin: 25px 0;
                display: inline-block;
                width: 25px;
                height: 1px;
                background: #8c8c8c;
            }

            .desc {
                font-size: 15px;
                color: #606060;
                line-height: 24px;
                letter-spacing: -1px;
            }
        }
    }
}
.company-list {
    font-size: 0;
    li {
        margin-right: 40px;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        &:nth-child(5) {
            margin-right: 0;
        }

        p {
            margin: 20px 0 40px 0;
            font-size: 15px;
            color: #333;
        }
    }
}
.company-list2 {
    font-size: 0;
    li {
        margin-right: 40px;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        &:nth-child(4) {
            margin-right: 0;
        }

        p {
            margin: 20px 0 40px 0;
            font-size: 15px;
            color: #333;
        }
    }
}
.figcaption {
    position: relative;
    .image-box:hover img {
        transform: scale(1.2);
    }
    .image-box {
        overflow: hidden;

        img {
            transition: all 0.5s;
        }
    }
    .test-layout {
        width: 1100px;
        margin: 0 auto;
    }
    .test-box {
        padding: 40px;
        position: absolute;
        bottom: 0;
        background: #fff;

        .title {
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -1px;
        }

        .puple {
            color: #7b2c8c;
        }

        .blue {
            color: #00449b;
        }

        .green {
            color: #009944;
        }

        .hr {
            margin: 25px 0;
            width: 25px;
            height: 2px;
            background: #929292;
        }

        .desc {
            letter-spacing: 1px;
            color: #868686;
            font-size: 14px;
        }
    }
}

.pub {
    font-size: 0;
    li {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 210px;
        display: inline-block;
        vertical-align: top;

        &:nth-child(5) {
            margin-right: 0;
        }

        img {
            width: 100%;
            display: block;
        }
    }
}
