// 메인페이지 배경
.header-fix {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid #506354;
}
.main-header {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
}
.header {
    position: relative;
    background: #fff;
    z-index: 4;

    .nav-layout {
        .top-nav-area {
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            background: $main-color;
            .top-nav-layout {
                position: relative;
                max-width: 1250px;
                margin: 0 auto;
                text-align: right;

                .top-nav {
                    @media only screen and (max-width: $media-width) {
                        & {
                            padding-right: 30px;
                        }
                    }
                    font-size: 13px;
                    height: 35px;
                    line-height: 35px;
                    color: #fff;
                    @media only screen and (max-width: $media-width) {
                        & {
                            height: 30px;
                            line-height: 30px;
                        }
                    }

                    li {
                        display: inline-block;
                        font-weight: 300;

                        &:after {
                            content: "|";
                            display: inline-block;
                            margin: 0 9px;
                        }

                        &:last-child:after {
                            content: "";
                            display: none;
                        }
                    }
                }
            }
        }

        .global-nav {
            position: relative;
            margin: 0 auto;
            max-width: 1250px;
            text-align: center;

            height: 95px;
            line-height: 95px;
            border-bottom: 1px solid #ccc;

            @media only screen and (max-width: $media-width) {
                & {
                    height: 55px;
                    line-height: 55px;
                }
            }

            .logo {
                position: absolute;
                left: 0;
                top: 53%;
                @include translateY(-50%);

                a {
                    display: block;
                    line-height: 20px;
                }

                .pc {
                    height: 20px;
                }

                .mobile {
                    display: none;
                    height: 25px;
                }

                @media only screen and (max-width: $media-width) {
                    & {
                        padding-left: 20px;
                    }

                    .mobile {
                        display: block;
                    }

                    .pc {
                        display: none;
                    }
                }
            }

            .gnb-menu-layout {
                @media only screen and (max-width: $media-width) {
                    & {
                        display: none;
                    }
                }

                height: 95px;
                line-height: 95px;

                li {
                    display: inline-block;
                    color: $main-color;
                    font-size: 0px;

                    .gnb-menu {
                        margin-left: 45px;
                        font-size: 18px;
                        font-weight: 450;
                    }
                }
            }

            .all-menu {
                @media only screen and (max-width: $media-width) {
                    & {
                        padding-right: 30px;
                    }

                    .only-pc {
                        display: none;
                    }
                }
                position: absolute;
                top: 50%;
                @include translateY(-50%);
                right: 0;
                font-size: 16px;
                color: $main-color;

                .down-arrow {
                    img {
                        padding-bottom: 4px;
                    }
                }

                .down-arrowwic {
                    img {
                        padding-bottom: 2px;
                    }
                }

                li {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        display: block;
                    }
                }

                .lang {
                    padding-left: 20px;
                    position: relative;
                    line-height: 12px;
                    font-size: 13px;
                    color: #606060;

                    &:after {
                        position: absolute;
                        width: 2px;
                        height: 13px;
                        background: #989898;
                        content: "";
                        display: block;
                        left: 0;
                        top: 50%;
                        @include translateY(-50%);
                    }

                    p,
                    img {
                        display: inline-block;
                    }

                    img {
                        margin-bottom: 2px;
                        padding-left: 2px;
                        width: 11px;
                        height: 6px;
                    }
                }

                .tra {
                    transform: rotate(90deg);
                }
            }
        }

        .gnb-sub-menu-area {
            position: absolute;
            display: none;
            width: 100%;
            background: #fff;
            border-bottom: 1px solid $main-color;
            font-size: 0;
            z-index: 5;
            @media only screen and (max-width: $media-width) {
                & {
                    height: 100vh;
                }
            }

            .close-sub-menu {
                font-size: 14px;
                text-align: center;
                height: 40px;
                line-height: 40px;
                background: $main-color;
                color: $white;
                font-size: 12px;
                img {
                    padding-left: 4px;
                    padding-bottom: 2px;
                }
            }

            .gnb-sub-menu-layout {
                padding: 50px 0;
                margin: 0 auto;
                max-width: 1100px;
                text-align: center;

                @media only screen and (max-width: $media-width) {
                    & {
                        padding: 20px 0;
                    }
                }
            }

            .box {
                display: inline-block;
                vertical-align: top;
                text-align: left;

                .title {
                    margin-top: 20px;
                    width: 180px;
                    font-size: 18px;
                    line-height: 18px;
                    color: #004993;
                    font-weight: 500;
                }

                .desc {
                    margin-top: 5px;
                    width: 180px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #555;
                }
            }
        }
    }
}

.all-menu-layout {
    width: 100%;
    @media only screen and (max-width: $media-width) {
        & {
            display: none;
        }
    }

    ul {
        margin-left: 55px;
        display: inline-block;
        vertical-align: top;
    }

    ul:last-child {
        margin-right: 18px;
    }

    li {
        margin-bottom: 10px;
        font-size: 14px;
        color: #606060;
    }
}
.all-menu-layout-mobile {
    display: none;
    padding: 0 15px;
    text-align: left;
    @media only screen and (max-width: $media-width) {
        & {
            display: block;
        }
    }

    ul {
        li {
            display: none;
            margin-bottom: 10px;
            font-size: 14px;
            color: #606060;
        }
        .title {
            display: block;
            font-size: 30px;
            font-weight: bold;
        }
    }

    .active {
        li {
            display: block;
        }
        .title {
            color: #004993;
        }
    }
}

/*
    local nav
*/
.local-nav-layout {
    position: relative;
    width: 100%;
    background: $main-color;

    .lnb-layout {
        margin: 0 auto;
        width: 1250px;
        text-align: center;
    }

    .lnb-nav {
        position: relative;
        color: #fff;

        li {
            display: inline-block;
            border-right: 1px solid #fff;

            &:first-child {
                border-left: 1px solid #fff;
            }

            a {
                display: block;
                width: 120px;
                height: 40px;
                line-height: 40px;
                font-weight: 300;
            }
        }
    }
}

.menu-up {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.lnb-back {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 95px;

    .text {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        color: #fff;
        line-height: 55px;
        font-size: 30px;
        letter-spacing: -1px;

        @media only screen and (max-width: $media-width) {
            & {
                width: 100%;
                font-size: 15px;
                line-height: 25px;
                top: 70%;
            }
        }
    }

    img {
        display: block;
        width: 100%;
        height: 400px;

        @media only screen and (max-width: $media-width) {
            & {
                height: 150px;
            }
        }
    }
}

.lnb-info {
    height: 200px;
    @media only screen and (max-width: $media-width) {
        & {
            height: 100px;
        }
    }
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sub-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    background: #fff;
}

.lnb-fix {
    border-bottom: 1px solid #506354;
}
// .lnb-fix {
//     background: #506354;
//     border-bottom: 1px solid #506354;

//     .gnb-menu-layout {
//         a {
//             color: #fff;
//         }
//     }

//     .lang {
//         p {
//             color: #fff;
//         }
//     }
// }

/*
    sub page layout
*/
.sub-page-layout {
    border-bottom: 1px solid #d9d9d9;
    .sub-page-header {
        text-align: center;
        font-size: 30px;
        line-height: 110px;
    }
}

.footer {
    @media only screen and (max-width: $media-width) {
        & {
            padding: 0 5px 0 20px;
        }
    }
    position: relative;
    width: 100%;
    // background: #606060;
    background: #202020;
    clear: both;
    box-sizing: border-box;

    .footer-layout {
        padding: 20px 0;
        max-width: 1250px;
        margin: 0 auto;

        .copy {
            font-size: 11px;
        }
    }

    .menu {
        font-size: 0;
        li {
            position: relative;
            padding: 0 8px;
            display: inline-block;
            vertical-align: middle;
            color: #bbbbbb;
            font-size: 14px;
            font-weight: bold;

            &:first-child {
                padding-left: 0;
            }

            &:after {
                position: absolute;
                content: "";
                display: block;
                width: 2px;
                height: 15px;
                top: 3px;
                right: 0;
                background: #7b7b7b;
            }

            &:last-child:after {
                background: none;
            }
        }
        @media only screen and (max-width: $media-width) {
            & {
                text-align: center;
            }
        }
    }

    address {
        padding: 0 0 0px 0;
        font-style: normal;
        color: #bbbbbb;
        line-height: 19px;
        font-size: 13px;

        div {
            display: block;
        }

        p {
            display: inline-block;
        }

        .on-m {
            display: none;
        }

        @media only screen and (max-width: $media-width) {
            .on-p {
                display: none;
            }
        }

        @media only screen and (max-width: $media-width) {
            .on-m {
                display: block;
            }
        }
    }

    p {
        font-size: 13px;
        color: #bbbbbb;
    }
}

.section-title {
    padding-bottom: 35px;
    margin-bottom: 70px;
    max-width: 1100px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    font-size: 30px;
    letter-spacing: -1px;

    @media only screen and (max-width: $media-width) {
        & {
            margin-bottom: 10px;
        }
    }

    span {
        font-size: 25px;
        color: #606060;
    }
}

.top {
    position: fixed;
    right: 100px;
    bottom: 220px;

    @media only screen and (max-width: $media-width) {
        & {
            right: 30px;
            bottom: 50px;
        }
    }
}
