.visual-area {
    position: relative;
    width: 100%;
    height: $slide-height;

    .visual-front {
        position: relative;
        margin: 0 auto;
        max-width: 1250px;
        z-index: 2;
        height: 100%;
        box-sizing: border-box;

        .slide-btn {
            position: absolute;
            width: 100%;
            height: 400px;

            .left,
            .right {
                position: absolute;
                top: 70%;

                img {
                    width: 30px;
                }
            }

            .left {
                @media only screen and (max-width: $media-width) {
                    & {
                        padding-left: 30px;
                    }
                }
                left: 0;
            }

            .right {
                @media only screen and (max-width: $media-width) {
                    & {
                        padding-right: 30px;
                    }
                }
                right: 0;
            }
        }

        .slide-font {
            padding: 200px 0 0 200px;
            box-sizing: border-box;

            @media only screen and (max-width: $media-width) {
                & {
                    padding: 0;
                    position: absolute;
                    width: 100%;
                    top: 32%;
                    padding-left: 20px;
                }
            }
            .title {
                font-size: 62px;
                line-height: 75px;
                letter-spacing: -1px;
                color: #fff;

                @media only screen and (max-width: $media-width) {
                    & {
                        font-size: 40px;
                        line-height: 45px;
                    }
                }
            }

            .desc {
                padding-top: 20px;
                font-size: 24px;
                color: #fff;

                @media only screen and (max-width: $media-width) {
                    & {
                        padding-top: 30px;
                        font-size: 16px;
                    }
                }
            }
        }

        .slide-index {
            position: absolute;
            left: 57%;
            top: 614px;
            @include translateX(-50%);

            li {
                margin: 0 9px;

                a {
                    display: block;
                    cursor: pointer;
                }
            }

            .active a {
                background: #fff;
            }
        }
    }

    .visual-back {
        position: absolute;
        width: 100%;
        top: 0;
        height: $slide-height;
        overflow: hidden;
        z-index: 0;

        li {
            width: 100%;

            img {
                width: 100%;
                height: $slide-height;

                @media only screen and (max-width: $media-width) {
                    & {
                        display: block;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.visual-area-pc {
    position: relative;
    text-align: center;
    height: 1080px;
    .visual-front {
        position: relative;
        padding:350px 0 0 200px;
        margin: 0 auto;
        text-align: left;
        max-width: 1250px;
        z-index: 2;
        box-sizing: border-box;
      
        .slide-font {
            box-sizing: border-box;

            @media only screen and (max-width: $media-width) {
                & {
                    padding: 0;
                    position: absolute;
                    width: 100%;
                    top: 32%;
                    padding-left: 20px;
                }
            }
            .title {
                font-size: 62px;
                line-height: 75px;
                letter-spacing: -1px;
                color: #fff;

                @media only screen and (max-width: $media-width) {
                    & {
                        font-size: 40px;
                        line-height: 45px;
                    }
                }
            }

            .desc {
                padding-top: 20px;
                font-size: 24px;
                color: #fff;

                @media only screen and (max-width: $media-width) {
                    & {
                        padding-top: 30px;
                        font-size: 16px;
                    }
                }
            }
        }

    }
    .visual-back {
        position: absolute;
        width: 100%;
        height: 1080px;
        overflow: hidden;
        z-index: 0;

        li {
            width: 100%;

            img {
                width: 100%;
                height: $slide-height;

                @media only screen and (max-width: $media-width) {
                    & {
                        display: block;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.visual-area, .visual-area-pc {
    .visual-back {
        .sy-controls {
            display: none !important;
        }
        .sy-pager {
            position: absolute;
            display: none;
            bottom: 110px;
            z-index: 300;

            .sy-active {
                a {
                    background: $white;
                    border: 1px solid $white;
                }
            }

            li {
                width: 9px;
                height: 9px;
                margin: 0 10px;

                a {
                    background: none;
                    border: 1px solid $white;
                }
            }
        }
    }
}
